# Ignore build artifacts
Sources/build/*
!Sources/build/empty.txt

# Ignore prototypes
Sources/src/*.cpp.bak
Sources/src/*.hpp.bak

# Ignore vscode config
.vscode/*

# Ignore latex immediate files
*.blg
*.bbl
*.toc
*.aux
*.out
*.lof
*.log
*.ptc
