# Ignore build artifacts
Sources/build/*
!Sources/build/empty.txt

# Ignore prototypes
Sources/src/*.cpp.bak
Sources/src/*.hpp.bak

# Ignore vscode config
.vscode/*

# Ignore latex immediate files
Thesis/SP/*.blg
Thesis/SP/*.bbl
Thesis/SP/*.toc
Thesis/SP/*.aux
Thesis/SP/*.out
Thesis/SP/*.lof
Thesis/SP/*.log
Thesis/SP/*.ptc
